<div class="login">
    <form action="/action_page.php" method="post">
      <div class="imgcontainer">
        <h1>Login</h1>
      </div>
    
      <div class="container">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
            
        <button type="submit">Login</button>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <a href="/register">Register</a>
      </div>
    </form>
</div>